@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 20px;
  background-color: #ffffff;
  margin-bottom: -6px;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 28px;
}

.navigation-user {
  max-width: 267px;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  list-style-type: none;
}

.navigation-link {
  padding: 17px 16px;
  min-width: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.navigation-link:active {
  background-color: rgb(160 160 160 / 19%);
}

.navigation-link:hover {
    background-color: rgb(160 160 160 / 19%);
}

.navigation-link:focus {
  background-color: rgb(160 160 160 / 50%);
}

.navigation-link-active::before {
  position: absolute;
  right: 15px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link-search {
  padding: 32px 12px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navigation-link-favorites {
  padding: 33px 12px;
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.navigation-link-search:hover::before {
  display: none;
}

.counter {
  position: relative;
}

.counter::before {
  position: absolute;
  content: "";
  background-color: rgba(125, 181, 79, 1);
  width: 20px;
  height: 20px;
  top: 10px;
  right: 7px;
  border-radius: 25px;
  z-index: 1;
}

.counter-icon {
  position: absolute;
  font-size: 10px;
  right: 11px;
  top: 6px;
  color: #ffffff;
  z-index: 1;
}


.button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  background-color: #615048;
}

.button:focus {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:focus-visible {
  background-color: #615048;
  color: #ffffff;
}

.button-light {
  background-color: #82b3d3;
}

.button-light:hover {
  background-color: #68a2ca;
}

.button-light:active {
  background-color: #68a2ca;
}

.button-light:focus{
  background-color: #82B3D3;
}

.button-light:focus-visible {
  background-color: #68a2ca;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 5px;
  font-weight: 700;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 16px 33px;
  margin-top: 13px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.container {
  flex-grow: 1;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px 15px rgb(136 136 136 / 23%);
}

.main-logo {
  display: block;
}

.main-logo-link {
  position: relative;
  z-index: 1;
}

.main-banner {
  background-color: #0e3955;
  background-image: url("../images/main-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

}

.main-banner::after {
  content: "";
  background-image: url(../images/main-background-form.svg);
  background-size: 100% auto;
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.main-banner-image {
    margin: 0 auto;
    display: block;
    padding-top: 51px;
    padding-bottom: 82px;
    position: relative;
}

.main-description {
  padding-top: 69px;
  padding-bottom: 65px;
  padding-left: 265px;
  padding-right: 265px;
}

.second-description {
  padding-top: 64px;
  padding-bottom: 38px;
  width: 505px;
  margin: 0 auto;
}

.description-title {
  padding-bottom: 25px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.second-description-title {
  padding-bottom: 20px;
}

.description-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);;
  width: 400px;
  min-height: 385px;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);;
}

.item-content {
  width: 400px;
}
.advantages-item-dark {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
  width: 1200px;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.features-title {
  margin: 0;
  padding-top: 112px;
  padding-bottom: 30px;
  padding-left: 111px;
  padding-right: 111px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.features-title-decorate::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2px;
  position: absolute;
  right: 171px;
}

.features-description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 112px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
}

.features-title-dark {
  padding-top: 102px;
  }

 .features-title-dark::after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -2px;
  position: absolute;
  right: 171px;
 }

.features-description-dark {
    padding-bottom: 0;
}

.infrastructure-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.infrastructure-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 230px;
  position: relative;
  padding-top: 185px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 81px;
}

.infrastructure-hotels::before {
  padding: 40px;
  background-image: url(../images/infrastructure-hotels.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 76px;
  right: 10px;
  left: 10px;
}

.infrastructure-food::before {
  padding: 40px;
  background-image: url(../images/infrastructure-food.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 76px;
  right: 10px;
  left: 10px;
}

.infrastructure-shop::before {
  padding: 40px;
  background-image: url(../images/infrastructure-shop.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: 76px;
  right: 10px;
  left: 10px;
}

.infrastructure-item:nth-child(2) {
  background-color: #ffffff;
}

.infrastructure-title {
  padding-bottom: 28px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.infrastructure-description {
  padding: 0;
}

.intresting {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  width: 592px;
  margin: 0 auto;
}

.intresting-description {
  padding-bottom: 57px;
}

.intresting-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #81b3d3;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-description {
  color: #ffffff;
  padding-bottom: 74px;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-email {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 432px;
  background-color: #f2f2f2;
  padding-left: 20px;
  }

 .footer {
    background-color: #ffffff;
 }

 .footer-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

.footer-social {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  padding: 10px 15px 10px 10px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:active {
  color: #756157;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: rgba(117, 97, 87, 0.3);
}

.footer-phone:focus-visible {
  color: rgba(117, 97, 87, 0.3);
}

.filter {
  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 56px;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.filter-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.filter-breadcrumbs-list {
  list-style-type: none;
  display: flex;
  position: relative;
  padding: 0;

}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  background-image: url(../images/icons/breadcrumbs-nav.svg);
  background-repeat: no-repeat;
  padding: 0 15px;
  background-position: left;
}

.breadcrumbs-item:first-child {
  background-image: none;
}

.breadcrumbs-link-home {
  position: relative;
}

.breadcrumbs-link-home::before {
  padding: 13px;
  background-image: url(../images/icons/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  left: -15px;
  bottom: 0;
}


.sort-title {
  text-align:left;
  padding: 0;
  margin-right: auto;
}

.select-control {
  font-family: 'PT Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 292px;
  margin-right: 70px;
  border-color: #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
}

.sort-button {
  width: 48px;
  height: 48px;
  padding: 17px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-right: 8px;
  }

.sort-button:last-child {
  margin-right: 0;
}

.sort-button:hover {
  border: 1px solid #000000;
}

.sort-button:focus-visible {
  border: 1px solid #68a2ca;
}

.sort-button:focus {
  border: 1px solid #68a2ca;
}

.sort-button:last-child {
  padding-right: 0;
}

.sort-button-three {
  background-image: url(../images/icons/columns-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sort-button-one {
  background-image: url(../images/icons/card-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sort-button-list {
  background-image: url(../images/icons/list-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0 0 40px 0;
}

.hotels-card {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  padding: 20px;
  border: #e6e6e6 1px solid;
  border-radius: 4px;
}

.hotels-card-image {
  grid-column: 1/-1;
  padding-bottom: 16px;
}

.hotels-card-image img {
  object-fit: contain;
  width: 300px;
  display: block;
}

.hotels-card-name {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  color: #000000;
}

.hotels-card-link {
  grid-column: 1/-1;
  padding-bottom: 16px;
  text-decoration: none;
}

.hotels-card-type {
  margin: 0;
  padding-bottom: 16px;
}

.hotels-card-price{
  margin: 0;
  padding-bottom: 16px;
  text-align: right;
}

.hotels-button-more {
  padding: 8px 20px;
  margin-right: 20px;
  margin-bottom: 16px;
  }

.hotels-raiting {
  grid-column: 2/2;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  list-style-type: none;
  display: flex;
  padding: 40px 0;
}

.pagination-numbers {
  margin-right: 8px;
}

.pagination-dots {
  margin-right: 8px;
  padding: 13px 23px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  display: block;
  min-width: 60px;
  padding: 13px 5px;
  box-sizing: border-box;
}

.pagination-link:active {
  background-color: #68a2ca;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus {
    background-color: #68a2ca;
}}

.pagination-link-selected {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color:#f2f2f2;
  color: #000000;
  text-decoration: none;
}

.pagination-link-selected:hover {
  background-color: #f2f2f2;
}

.pagination-link-selected:focus{
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-selected:focus-visible {
  background-color: #f2f2f2;
}



.pagination-dots {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.subscribe-inverse {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.button-large {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.hotels-button-favorite {
  padding: 8px 20px;
  margin-bottom: 16px;
}

.hotels-button-favorite-true {
  background-color: #7db54f;
}

.hotels-button-favorite-true:hover {
  background-color: #6c9e42;
}

.hotels-button-favorite-true:focus {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);;
}

.hotels-button-favorite-true:focus-visible {
  background-color: #6c9e42;
}

.hotels-raiting {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  padding: 8px 20px;
  border-radius: 4px;
}

.button-transparent {
  background-color: transparent;
}

.filter-hotel {
  color: #ffffff;
}

.sort {
  display: flex;
  padding-bottom: 40px;
}

.container-catalog {
  margin: 0 70px;
}

.hotels {
  border-bottom: 1px solid #E6E6E6;
}

.footer-social-link {
  fill: #83b3d3;
}

.footer-social-link:active {
  fill: #68a2ca;
}

.footer-social-link:hover {
  fill: #68a2ca;
}

.footer-social-link:focus {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:focus-visible {
  fill: #68a2ca;
}

.footer-image:active {
  fill: #756157;
}

.footer-image:hover {
  fill: #756157;
}

.footer-image:focus{
  fill: rgba(117, 97, 87, 0.3);
}

.footer-image:focus-visible {
  fill: #756157
}

@supports not selector(:focus-visible) {
  .footer-image:focus {
    fill: #756157
}}
